#lysboks{
    position:fixed;
    margin:0;
    width: 100vw;
    max-width: 100vw;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:rgba(0,0,0,0.9);
    z-index: 20000;
    cursor: pointer;
    transition-property: opacity;
}

#lysboks.hide {
    opacity: 0;
    pointer-events: none;
}

#lysboks svg{
    pointer-events: none;
}

#lysboks *{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#lysboksMain{
    margin-top: auto;
    transition-property: opacity;
}

#lysboksMain.hide {
    opacity: 0;
}
#lysboksBilde{
    position: relative;
}
#lysboksBilde img{
    max-width: calc(100vw - 200px);
    max-height: 75vh;
    vertical-align: middle;
    cursor: default;
}
#lysboksBildeWrapper{
    display:flex;
}
#lysboksLeft,#lysboksRight{
    background-color: white;
    opacity: 0.2;
    width:60px;
    max-height:75vh;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lysboksLeft:hover,
#lysboksRight:hover{
    opacity: 0.7;
}
#lysboksLeft svg,
#lysboksRight svg{
    max-width: 4vw;
    width: 20px;
}
#lysboksLeft[data-target="null"],
#lysboksRight[data-target="null"]{
    display: none;
}
#lysboksLukk{
    position: absolute;
    width: 30px;
    top: 10px;
    right: 10px;
    background-color:black;
    opacity: 0.2;
    color: white;
    line-height: 0;
    padding: 7px;
}
#lysboksLukk:hover{
    opacity: 0.7;
}
#lysboksLukk svg{
    fill:white;
}
#lysboksTooltip{
    color: white;
    /* display: none; */
    text-align: center;
}
#miniatyrBilder{
    background-color:rgba(0,0,0,0.5);
    padding: 1vh 0.5vh;
    max-width:100vw;
    line-height: 0;
    /* overflow-x:hidden; */
    display:flex;
    cursor: default;
    overflow: default;
    margin-top: auto;
    position: relative;
    transition-property: left;
}
.miniatyrBilde{
    margin:auto;
    cursor: pointer;
    padding:0 0.5vh;
    transition-property: opacity;
}
#miniatyrBilder img{
    max-height:8vh;
}